<div class="content">
  <h4>Add A Store</h4>

  <form action="/stores" method="post">
    <label for="store_name">Store Name:</label>
    <input id="store_name" name="store_name" type="text">

    <button class="btn-floating btn-large waves-effect waves-light red" type="submit">Add Store</button>
  </form>

  <br>

  <h4> Add A Shoe Brand</h4>

  <form action="/shoes" method="post">

    <label for="shoe_name">Shoe Brand:</label>
    <input id="shoe_name" name="shoe_name" type="text">
    <br>
    <button class="btn-floating btn-large waves-effect waves-light red" type="submit">Add Shoe</button>
  </form>
</div>

<div class ="all-stores">
  <% if @stores.any?() %>
  <h5>Click Store to View Store Merchandise/Update</h5>

  <ul class ="card-panel red lighten-1">
    <% @stores.each do |store| %>
    <li><a href="/stores/<%= store.id() %>" class="collection-item white-text"><%= store.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <p>There are no stores yet!</p>
  <% end %>

  <% if @shoes.any?() %>
  <h5>Click Brand to View Location/Assign Location</h5>

  <ul class ="card-panel red lighten-1">
    <% @shoes.each do |shoe| %>
    <li><a href="/shoes/<%= shoe.id() %>" class="collection-item white-text"><%= shoe.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <p>There are no shoes yet!</p>
  <% end %>
</div>
