<html>
<head>
  <title>Shoe Distribution</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="flow-text">
  <div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper red lighten-1">
        <h1>Ruby Slippers Distribution Center</h1>
      </div>
    </nav>
</div>
  <div class="container">
    <%= yield %>
  </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
