
<h1>Add <%= @shoe.name %> to a store:</h1>

<form action="/shoes/<%= @shoe.id %>" method="post">
  <div class="input-field">
    <select class="browser-default" id='store_id' name='store_id' type='text'>
      <% @stores.each() do |store| %>
        <option value="<%= store.id()%>"> <%= store.name() %> </option>
      <% end %>
    </select>
  </div>
  <button class="btn-floating btn-large waves-effect waves-light red" type="submit">Add Shoe to Store</button>
</form>

<a href="/" class="waves-effect waves-teal btn-flat">Home</a>
