h1 {
  text-align: center;
}

h5,
h4 {
  padding-top: 20px;
  text-align: center;
}

li,
p,
h3 {
  text-align: center;
}

.content {
  padding-top: 120px;
}

.footer-links {
  text-align: center;
}

button {
  font-size: 13px;
}

#delete-button button {
  font-size: 30px;
}
